html, body {
    background: #000000;
}

.container {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.timer {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #ffffff;
}

.text {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    font-family: Arial;
    font-size: 48px;
}

#time {
    font-weight: bold;
    font-weight: bold;
    font-family: monospace;
    font-size: 64px;
}
